Flask==3.1.0
Flask_Cors==5.0.0
matplotlib==3.10.1
nltk==3.9.1
numpy==2.2.5
ollama==0.4.8
pandas==2.2.3
prompt_toolkit==3.0.48
rich==14.0.0
scikit_learn==1.6.1
seaborn==0.13.2
spacy==3.8.5
sumy==0.11.0
textblob==0.19.0
vaderSentiment>=3.3.2
